In [3]:
import seaborn as sns
df = sns.load_dataset("glue")
df

          Model  Year      Encoder  Task  Score
0         ERNIE  2019  Transformer  CoLA   75.5
1            T5  2019  Transformer  CoLA   71.6
2       RoBERTa  2019  Transformer  CoLA   67.8
3          BERT  2018  Transformer  CoLA   60.5
4   BiLSTM+ELMo  2018         LSTM  CoLA   32.1
..          ...   ...          ...   ...    ...
59         BERT  2018  Transformer   RTE   70.1
60  BiLSTM+ELMo  2018         LSTM   RTE   57.4
61  BiLSTM+CoVe  2017         LSTM   RTE   52.7
62  BiLSTM+Attn  2017         LSTM   RTE   58.4
63       BiLSTM  2017         LSTM   RTE   57.4

[64 rows x 5 columns]

In [6]:
df["Model"].unique()

array(['ERNIE', 'T5', 'RoBERTa', 'BERT', 'BiLSTM+ELMo', 'BiLSTM+CoVe',
       'BiLSTM+Attn', 'BiLSTM'], dtype=object)

In [7]:
df["Task"].unique()

array(['CoLA', 'SST-2', 'MRPC', 'STS-B', 'QQP', 'MNLI', 'QNLI', 'RTE'],
      dtype=object)